.class-navbar-container {
  /* border: 1px solid #000; */
  background-color: #fff;
  padding: 10px 200px;
}

.class-navbar-logo-icon {
  height: 40px;
  width: 200px;
}

.class-navbar-profile-icon {
  height: 40px;
  width: 40px;
}