.class-button-root {
  border-radius: 10px;
  font-size: 14px;
  padding: 2px 30px;
  border-style: none;
}

.class-button-blue {
  background-color: #003DEA;
  color: #ffffff;
}

.class-button-white {
  background-color: #ffffff;
  color: #4F4E50;
}