.class-item-ofert-root {
  display: flex;
  flex-direction: column;
  border: 1px solid #aaa;
  border-radius: 10px;
  row-gap: 10px;
  padding-bottom: 10px;
  background-color: #ffffff;
}

.class-item-ofer-bottom-available {
  border-bottom-color: #25ca56;
  border-bottom-width: 10px;
}

.class-item-ofer-bottom-not-available {
  border-bottom-color: #d6321c;
  border-bottom-width: 10px;
}

.class-item-ofert-image {
  width: 200px;
  height: 150px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.class-item-ofert-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: #003DEA;
}

.class-item-ofert-icon-round {
  border-radius: 100%;
  border: 3px solid #003DEA;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.class-item-ofert-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #003DEA;
  margin-left: 10px;
  margin-right: 10px;
  color: #ffffff;
}

.class-item-ofert-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}