.class-home-root {
  /* margin-top: 100px; */
  display: flex;
  flex-direction: column;
}

.class-home-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  flex-wrap: wrap;
  row-gap: 10px;
  /* border: 1px solid #000; */
}

.class-home-container-categories {
  background-color: #003DEA;
  color: #ffffff;
}

.class-home-container-oferts {
  padding-bottom: 100px;
  background-image: url('../../asset/resource/FND-001.jpg');
  background-size: cover;
}

.class-home-header-ofert {
  margin-top: 50px;
  margin-bottom: 20px;
  color: #003DEA;
  /* border: 1px solid #000; */
}

.class-home-testimonials-div {
  padding-top: 20px;
  padding-bottom: 50px;
  width: 100%;
  background-image: url('../../asset/resource/FND-002.jpg');
  background-size: cover;
}

.class-home-container-slider {
  height: 100vh;
}