.class-home-root {
  /* margin-top: 100px; */
}

.class-home-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  flex-wrap: wrap;
  row-gap: 10px;
}

.class-home-container-categories {
  background-color: #003DEA;
  color: #ffffff;
}

.class-home-container-oferts {
  padding-bottom: 100px;
  border: 1px solid #000;
}

.class-home-header-ofert {
  margin-top: 50px;
  margin-bottom: 20px;
  color: #003DEA;
}
